<!DOCTYPE html>

<html onclick="SPFXIndex.closeDropDown(this, event)">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title><%= title %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <% otherCss.forEach(function(s){ %>
    <link href="<%= s %>" rel="stylesheet" />
    <% }); %>
    <% headerScripts.forEach(function(s){ %>
    <script src="<%= s %>"></script>
    <% }); %>
</head>
<body>
    <div class="sp-header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span style="background-color: rgb(238, 222, 191) ! important;" class="icon-bar"></span>
                        <span style="background-color: rgb(238, 222, 191) ! important;" class="icon-bar"></span>
                        <span style="background-color: rgb(238, 222, 191) ! important;" class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" >Satori</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" 
                               data-toggle="dropdown" role="button" aria-expanded="false"
                               onclick="SPFXIndex.toggle(event)"
                               >
                                Contribute 
                                <span class="caret"></span>
                            </a>
                            <ul style="background-color: rgb(238, 222, 191) ! important;" class="dropdown-menu" role="menu">
                                <li><a href="#">Onboard Data</a></li>
                                <li style="background-color: rgb(216, 203, 177) ! important;" role="separator" class="divider"></li>
                                <li><a href="#">Dashboard</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" 
                               data-toggle="dropdown" role="button" aria-expanded="false"
                               onclick="SPFXIndex.toggle(event)"
                               >
                                Consume 
                                <span class="caret"></span>
                            </a>
                            <ul style="background-color: rgb(238, 222, 191) ! important;" class="dropdown-menu" role="menu">
                                <li><a href="#">Add new Answer</a></li>
                                <li style="background-color: rgb(216, 203, 177) ! important;" role="separator" class="divider"></li>
                                <li><a href="#">Dashboard</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div title="Feedback" style="width: 20px; height: 20px; margin-top: 15px; margin-bottom: 15px;" href="">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" focusable="false" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
                                    <path d="M 16 0 C 7.16 0 0 7.16 0 16 s 7.16 16 16 16 s 16 -7.16 16 -16 S 24.84 0 16 0 Z M 16 30 C 8.28 30 2 23.72 2 16 S 8.28 2 16 2 s 14 6.28 14 14 S 23.72 30 16 30 Z M 22 14 c -1.1 0 -2 -0.9 -2 -2 s 0.9 -2 2 -2 s 2 0.9 2 2 S 23.1 14 22 14 Z M 10 14 c -1.1 0 -2 -0.9 -2 -2 s 0.9 -2 2 -2 s 2 0.9 2 2 S 11.1 14 10 14 Z M 24.93 20.47 C 23.29 23.74 19.91 26 16 26 c -3.91 0 -7.29 -2.26 -8.93 -5.53 l 1.79 -0.89 C 10.17 22.19 12.87 24 16 24 s 5.83 -1.81 7.15 -4.43 L 24.93 20.47 Z" ></path>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div title="Support + Help" style="width: 20px; height: 20px; margin-top: 15px; margin-bottom: 15px;" href="">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" focusable="false" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path id="XMLID_24132_" d="M 11 0 C 4.93 0 0 4.93 0 11 s 4.93 11 11 11 s 11 -4.93 11 -11 S 17.07 0 11 0 Z M 11 20.43 c -5.2 0 -9.43 -4.23 -9.43 -9.43 S 5.8 1.57 11 1.57 S 20.43 5.8 20.43 11 S 16.2 20.43 11 20.43 Z M 14.14 8.64 c 0 1.13 -0.52 2.18 -1.46 2.96 c -0.58 0.48 -0.89 1.1 -0.89 1.75 v 0.79 h -1.57 v -0.79 c 0 -1.13 0.52 -2.18 1.46 -2.96 c 0.58 -0.48 0.89 -1.1 0.89 -1.75 c 0 -0.87 -0.7 -1.57 -1.57 -1.57 c -0.95 0 -1.85 0.46 -2.54 1.29 l -1.21 -1 C 8.24 6.16 9.57 5.5 11 5.5 C 12.73 5.5 14.14 6.91 14.14 8.64 Z M 11.79 16.5 c 0 0.43 -0.35 0.79 -0.79 0.79 s -0.79 -0.35 -0.79 -0.79 s 0.35 -0.79 0.79 -0.79 S 11.79 16.07 11.79 16.5 Z" ></path>
                                </svg>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" 
                               data-toggle="dropdown" role="button" aria-expanded="false"
                               onclick="SPFXIndex.toggle(event)"
                               >
                                <%= displayName %>
                            </a>
                            <ul style="background-color: rgb(238, 222, 191) ! important;" class="dropdown-menu" role="menu">
                                <li>
                                    <a class="clearfix" href="/logout">
                                        <div style="float: left;">Sign Out</div>
                                        <div style="height: 16px; width: 16px; float: right;">
                                            <svg xmlns="http://www.w3.org/2000/svg" 
                                            viewBox="0 0 15 15" focusable="false" 
                                            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
                                            <path d="M 12.133 3.033 c -0.389 -0.389 -1.019 -0.389 -1.408 0 c -0.389 0.389 -0.389 1.019 0 1.408 l 0 0 c 0.892 0.893 1.335 2.054 1.336 3.225 c -0.001 1.17 -0.444 2.332 -1.336 3.225 c -0.893 0.892 -2.054 1.334 -3.225 1.336 c -1.17 -0.001 -2.332 -0.444 -3.224 -1.336 C 3.384 9.998 2.941 8.836 2.94 7.666 c 0.001 -1.171 0.444 -2.332 1.336 -3.225 c 0.389 -0.389 0.389 -1.019 0 -1.408 c -0.388 -0.389 -1.019 -0.389 -1.408 0 C 1.59 4.31 0.947 5.993 0.948 7.666 C 0.947 9.34 1.59 11.022 2.868 12.299 c 1.277 1.277 2.959 1.92 4.632 1.919 h 0.004 c 1.672 0 3.353 -0.642 4.628 -1.919 c 1.278 -1.277 1.92 -2.959 1.919 -4.633 C 14.053 5.993 13.41 4.31 12.133 3.033 Z M 7.5 8.662 c 0.55 0 0.996 -0.446 0.996 -0.996 V 1.655 c 0 -0.55 -0.446 -0.996 -0.996 -0.996 c -0.55 0 -0.996 0.446 -0.996 0.996 v 6.011 C 6.504 8.216 6.95 8.662 7.5 8.662 Z"></path>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li style="background-color: rgb(216, 203, 177) ! important;" role="separator" class="divider"></li>
                                <li>
                                    <a class="clearfix" href="#">
                                        <div style="float: left;">Submit an idea</div>
                                        <div style="height: 16px; width: 16px; float: right;">
                                            <svg xmlns="http://www.w3.org/2000/svg" 
                                            viewBox="0 0 15 15" focusable="false"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
                                            <path xmlns="http://www.w3.org/2000/svg" d="M 13.903 2.152 c -0.267 -0.291 -0.585 -0.505 -0.936 -0.651 c -1.62 -0.674 -3.959 0.165 -5.425 2.246 c -2.253 -2.719 -4.948 -3.23 -6.448 -1.595 c -2.997 3.264 0.756 7.552 3.717 9.987 c 1.167 0.96 2.211 1.632 2.67 1.84 v 0.021 c 0.004 -0.001 0.013 -0.007 0.016 -0.008 c 0 0 0.016 0.007 0.022 0.008 v -0.021 C 9.139 13.244 18.08 6.702 13.903 2.152 Z" ></path>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="sp-content">
        <%- block_content %>
    </div>
    <% footerScripts.forEach(function(s){ %>
    <script src="<%= s %>"></script>
    <% }); %>
</body>
</html>